@let myproduct = product; 

<div class="product-card">
  <div class="w-[320px] h-[430px] overflow-hidden bg-white rounded">
    <a class="product-image-link" [routerLink]="['/products', (myproduct.id)]">
      <img class="product-image" [src]="myproduct.image" [alt]="myproduct.title" />
    </a>
    <div class="px-6 py-4">
      <div class="text-xl font-bold h-[60px] line-clamp-2">
        <a [routerLink]="['/products', (myproduct.id)]">
          {{ product.title | slice: 0 : 25 }}</a>
      </div>
      <p class="text-base text-gray-700 h-[80px] line-clamp-3">{{ myproduct.description | slice: 0 : 70 }}</p>
    </div>
    <div class="px-6 py-4 flex-space-between">
      <p class="product-price">{{ product.price | currency:'EUR':'symbol':'1.2-2': 'es' }}</p>
      <app-add-to-cart (addToCartEvent)="onAddToCart()" />
    </div>
  </div>
</div>