<section class="text-slate-medium">
  <div class="flex flex-col section-container md:flex-row">
    <div class="mb-6 text-container md:mb-0 md:w-1/2">
      <h1 class="heading">
        Buy today and receive tomorrow!
      </h1>
      <p class="sub-heading">
        Discover a world of quality with our diverse range of products. From home essentials to fashion must-haves,
        we’ve got everything you need. Shop now for unbeatable deals and fast delivery!
      </p>
      <div class="btn-container">
        <button class="btn-primary">Discounts</button>
      </div>
    </div>
    <div class="image-container md:w-1/2">
      <img class="image" alt="hero" [src]="imageHero" />
    </div>
  </div>
</section>